body{
    background-color: rgba(0, 0, 0, 0.893);
}

h1{
    color: rgb(255, 119, 0);
}
h2{
    color:rgb(255, 119, 0);
}

h3{
    color: rgb(255, 119, 0);
}

a{
    color:orange ;
    text-decoration: none;
}
highlight{
    color:orange;
}

p{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

a:hover{
    color:orangered;
}

.highlight{
    color: rgb(255, 149, 0);
}

section {
    padding :20px;
    margin : 20px auto;
    width : 80%;
    background-color: black;
    box-shadow: 0px 4px 10px rgba(0,0,0,1);
    border-radius: 12px;
}

nav{
    text-align: right;
}


