body {
  background-image: url(../Assets/images/MuchaTseBle.jpeg);
  
}

h1,h2,h3{
    font-family: 'Lexend' sans-serif;
    color: rgb(255, 119, 0);
}

a{
    color:orange ;
}
.highlight{
    color:orange;
}

p{
    color: white;
    font-family: 'Lexend' sans-serif;
}

a:hover{
    color:orangered;
}

.highlight{
    color: rgb(255, 149, 0);
}

section {
    padding :20px;
    margin : 20px auto;
    min-height: 600px;
    width : 80%;
    background-color: black;
    box-shadow: 0px 4px 10px rgba(0,0,0,1);
    border-radius: 12px;
}

nav {
  display: flex;
  justify-content: flex-end;
  background-color: black;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 100;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: orange;
  font-weight: bold;
}

nav a:hover {
  color: orangered;
}


